{% extends 'base.html.twig' %}

{% block title %} - Nouveau message{% endblock %}

{% block body %}
  <section class="">
    <h2>nouveau message</h2>
    {{ form_start(form) }}
      {{ form_row(form.subjet) }}
      {{ form_row(form.text)}}
      {{ form_row(form.recipient) }}
      <button type="submit" name="save" value=""class="">Abandonner</button>
      <button type="submit" name="send" value="send" class="">Envoyer</button>
    {{ form_end(form) }}
  </section>
{% endblock %}