<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">        
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
		<title>SchoolMessager{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('picture/envelope.svg') }}">
    </head>
    <body>
        <header style="background-image: url('{{asset('picture/fond.jpg')}}')">
            <h1>SchoolMessage</h1>
            <ul class="menu">
				{% if app.user %}
					<a href="{{ path('logout') }}">Déconnection</a>
				{% endif %}
			</ul>
        </header>

        {% block body %}{% endblock %}
    	{% for flash in app.flashes('flash') %}
		<div class="flash">
		{{ flash }}
		</div>
		{% endfor %}
    </body>
</html>
